@{
    Project06.Models.AccesoModel sesion = null;
    if (Session["Usuario"] != null)
    {
        sesion = (Project06.Models.AccesoModel)Session["Usuario"];

    }
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Resources/LogoBanco.png" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/CSS")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
    <style>
        body {
            background-color: #F5F5F6;
            background-repeat: no-repeat;
            background: url(../../Resources/fondo-verde.jpg) center center fixed;
            background-size: 100% 100%;
        }
    </style>

</head>
<body>

    @if (sesion != null)
    {

        <nav class="navbar navbar-inverse navbar-fixed" style="z-index:200">
            <div class="container-fluid">
                <div class="navbar-brand">
                    <img src="~/Resources/Icono.png" style="padding-bottom: 15px; height: 50px; width: 55px;" class="d-inline-block align-top">&nbsp;<br />
                </div>
                <ul class="nav navbar-nav">

                    @if (sesion != null)
                    {

                        if (@sesion.id_tipoUsuario == 1)
                        {
                            <li>@Html.ActionLink("Inicio", "ColaboradorInicio", "InicioSesion", new { @class = "bi bi-calendar3" })</li>
                            <li>@Html.ActionLink("  Clientes", "ClientesLista", "Clientes")</li>
                            <li>@Html.ActionLink("  Cuentas", "CuentasLista", "Cuentas")</li>
                            <li>@Html.ActionLink("  Monedas", "MonedasLista", "Monedas")</li>
                            <li>@Html.ActionLink("  Tipo de Cliente", "TipoClienteLista", "TipoCliente")</li>
                            <li>@Html.ActionLink("  Tipo de Cuenta", "TipoCuentaLista", "TipoCuenta")</li>
                        }

                    }

                    </ul>


                <ul class="nav navbar-nav">

                    @if (sesion != null)
                    {
                        if (@sesion.id_tipoUsuario == 2)
                        {
                            <li>@Html.ActionLink("Inicio", "../InicioCliente/ClienteInicio", null, new { @class = "bi bi-calendar3" })</li>
                            <li>@Html.ActionLink("  Depósito", "../Deposito/nuevoDeposito")</li>
                            <li>@Html.ActionLink("  Retiro", "../Retiro/nuevoRetiro")</li>
                            <li>@Html.ActionLink("  Transferencia", "../Transferencia/nuevaTransferencia")</li>

                        }

                    }

                </ul>


                <ul class="na navbar-nav navbar-right dropdown">
                    <li class="dropdown btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" background-color: #222222; color: white; padding-top: 10px">

                        @if (sesion != null)
                        {
                            <img src="~/Resources/BancoP.gif" width="40" height="40" />
                            <strong>@sesion.NombreCompleto</strong>

                        }

                        </li>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #222222; color:gray">
                        <ul class="nav navbar-nav">
                            <li type="submit" id="btnSubmit" style="margin-bottom: 2px;" class="btn btn-link active" data-toggle="modal" data-target="#Modal"> <i class="glyphicon glyphicon-log-in"></i>&nbsp; Cerrar sesión</li>
                        </ul>
                    </div>
                </ul>
            </div>
        </nav>
    }

    <div class="modal" id="Modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body text-center" style="background-color: black;">
                    <p style="color: white"><strong>¿Desea cerrar la sesión?</strong> </p>
                    @if (sesion != null)
                    {
                        @Html.ActionLink(" Sí", "../InicioSesion/Salir", null, new { @class = "btn btn-primary text-right" })
                    }
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>

                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center">&copy; @DateTime.Now.Year - Banco del Pueblo</p>
        </footer>
    </div>
    @*<script>
            {
                if (history.forward(1))
                    location.replace(history.forward(1))
            }
        </script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
