@model List<Project06.Models.sp_RetornaCuentas_Result>

@{
    ViewBag.Title = "CuentasLista";
}

<h2>Lista de cuentas</h2>

<a class="btn btn-info" href="~/Cuentas/nuevoCuentas">Agregar nueva cuenta</a>
<br />
<br />

<table class= "table" style="color: white;" border="1">
    <thead style="background-color: black; color:white">

        <tr>
            <th style="text-align:center">Número de cuenta</th>
            <th style="text-align:center">ID del cliente</th>
            <th style="text-align:center">ID del tipo de cuenta</th>
            <th style="text-align:center">ID de la moneda</th>
            <th style="text-align:center">Saldo</th>
            <th style="text-align:center">Estado</th>
            <th style="text-align:center">       </th>


        </tr>
    </thead>
    @{
        foreach (Project06.Models.sp_RetornaCuentas_Result posicionModelo in this.Model)
        {

            <tr>

                <td style="text-align:center">@posicionModelo.numeroCuenta</td>
                <td style="text-align:center">@posicionModelo.id_cliente</td>
                <td style="text-align:center">@posicionModelo.id_tipoCuenta</td>
                <td style="text-align:center">@posicionModelo.id_moneda</td>
                <td style="text-align:center">@posicionModelo.saldo</td>
                <td style="text-align:center">@posicionModelo.estado</td>



                <td style="text-align:center">


                    <a class="btn btn-primary" href="~/Cuentas/CuentasModifica?id_cuenta=@posicionModelo.id_cuenta">Modificar</a>
                    
                    <a class="btn btn-danger" href="~/Cuentas/CuentasElimina?id_cuenta=@posicionModelo.id_cuenta">Eliminar</a>

                </td>
            </tr>

        }


    }


</table>
